*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:  #ffffff;
}

#sections{
display: flex;
margin: auto;
justify-content: center;
align-items: center;
margin-top: 20px;
}

#sections div{
    display: flex;
    text-align: center;
    padding: 5px 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #a39b84;
    border: 1px solid rgb(215, 215, 215);
} 
#sections a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #a39b84;
    text-decoration: none;
}
#sections div:hover{
    display: flex;
    text-align: center;
    padding: 5px 100px;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(232, 232, 232);
    border-bottom: 5px solid rgb(56, 209, 54);
} 
#sections  h2{
    margin-left: 10px;
    font-size: 19px;
    font-weight: 100;
}
#sections  h1{
    font-weight: 100;
}

#add{
    display: flex;
    justify-content: space-between;
    margin: 50px 60px;
}
#add h1{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}
#add h1 a{
    color: rgb(243, 29, 100);
}
#order{
    padding: 10px 15px;
    color: #ffffff;
    cursor: pointer;
    background-color: #92be4d;
    border: 0px;
    font-size: 15px;
}
#details h2{
    margin-left: 80px;
    font-size: 17px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}
#details p{
    margin-left: 80px;
    font-weight: 100;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
  
}

#Detinput{
    width: 50%;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#showAdds{
display: flex;
}
#addDet{
    border: 1px solid rgb(175, 173, 173);
    height: 600px;
    overflow: scroll;
}
#Detinput-btn{
    padding: 5px;
    margin-top: 30px;
    width: 30%;
    margin-left: 135px;
    background-color: #be4d4d;
    color: white;
    border: 0px;
    border-radius: 7px;
    cursor: pointer;
}

#address , #Fname ,#Lname ,#landmark,#pincode,#area,#country,#state,#city,#mobile {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: #5f5f5e;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}
#address , #Fname ,#Lname ,#landmark,#pincode,#area,#country,#state,#city,#mobile p{
    margin-right: 37px;
}
#address input{
    margin-left: 50px;
    width: 40.4%;
    height: 80px;
    border: 1px solid rgb(204, 200, 196);
}
#Fname input{
    margin-left: 31px;
    width: 40.4%;
    height: 30px;
    border: 1px solid rgb(204, 200, 196);
}
#Lname input{
    margin-left: 31px;
    width: 40.4%;
    height: 30px;
    border: 1px solid rgb(204, 200, 196);
}
#landmark input{
    margin-left: 35px;
    width: 40.4%;
    height: 30px;
    border: 1px solid rgb(204, 200, 196);
}

#pincode input{
    margin-left: 50px;
    width: 40.4%;
    height: 30px;
    border: 1px solid rgb(204, 200, 196);
}
#area input{
    margin-left: 72px;
    width: 40.4%;
    height: 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(204, 200, 196);
}
#country input{
    margin-left: 47px;
    width: 40.4%;
    height: 30px;
    border: 1px solid rgb(204, 200, 196);
}
#state input{
    margin-left: 65px;
    width: 40.4%;
    height: 30px;
    border: 1px solid rgb(204, 200, 196);
}
#city input{
    margin-left: 75px;
    width: 40.4%;
    height: 30px;
    border: 1px solid rgb(204, 200, 196);
}
#mobile input{
    margin-left: -5px;
    width: 40.4%;
    height: 30px;
    border: 1px solid rgb(204, 200, 196);
}
#Detiamge {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
#Detiamge img {
    text-align: center;
    width: 90%;
    margin-top: 30px;
}

hr{
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#detgift{
display: flex;
justify-content: space-between;
margin: 50px 60px;
}

#detgift h2{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}
#detgift h2 a{
    color: rgb(243, 29, 100);
}

#detgift-in{
width: 80%;
}
#detgift-in input{
    margin-top: 20px;
    width: 40%;
    font-size: 15px;
    padding: 10px;
    height: 70px;
}

#note{
    display: flex;
    align-items: center;
    width: 89.5%;
    margin: auto;
    margin-top: 10px;
    height:50px;
    padding-left: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    background-color: rgb(242, 240, 237);
}
#note a{
    color: rgb(243, 29, 100);
}

.Product{
    display: flex;
    width: 90.5%;
    margin: auto;
    justify-content: space-around;
    padding-bottom: 20px;
    color: #5f5f5e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px  solid #92be4d;
}
.result{
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.result p{
    margin-top: 8px;
    padding: 6px;
}

#cartadd>div{
    display: flex;
    align-items: center;
    }

#cartadd>div.Aappendimg{
        width: 10%;
    }

    #final-amt{
        margin-bottom: 20px;
    }
    #total{
        margin-left: 20%;
    }
    .Aprice{
margin-left: 40%;
       
    }
    .Atitle{
        text-align: center;
        align-items: center;
        margin-top: 20px;
        color: #504949;
        margin-bottom: 30px;
        }
