form{
    border:  1px solid white ;
    display: flex;
       width: 100%;
       height: 70px;
       position: sticky;
       display: block;
       align-items: center;
       text-align: center;
      
       
     background-color: #ededed;
 }
 form>input{
   text-align: center;
  margin-top: 15px;
  height: 25px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid white;
   
 }
 form>input+button{
   margin-left: 100px;
   padding: 6px 10px;
   border-radius: 5px;
   border: coral;
   background-color: #84da0c;
 }
 form>input+button+button{
   float: right;
   width: 30px;
   border: none;
   font-size: xx-large;
  
 }