* {
    margin: 0%;
    padding: 0%;
  }
  #catbox{
    margin-left: 20px;
    margin-top: 50px;
    border: 1px solid gray;
    height: 40px;
  }
 
  .nav-flex {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
  }
  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  #drop-down {
    font-size: small;
    cursor: pointer;
  }
  #drop-down:hover {
    color: 
    #85bc3c;
  }
  #efv {
    display: inline-block;
    position: relative;
  }
  #efv:hover {
    color:
    #85bc3c;
    cursor: pointer;
  }
  #efv::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -9;
    left: 0;
    background-color: 
    #85bc3c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: 
    #85bc3c;
  }
  #efv:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: 
    #85bc3c;
  }
  
  #gift {
    display: inline-block;
    position: relative;
  }
  #gift:hover {
    color: 
    #85bc3c;
    cursor: pointer;
  }
  #gift::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -9;
    left: 0;
    background-color: 
    #85bc3c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: 
    #85bc3c;
  }
  #gift:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: 
    #85bc3c;
  }
  
  #rewards {
    display: inline-block;
    position: relative;
  }
  #rewards:hover {
    color: 
    #85bc3c;
    cursor: pointer;
  }
  #rewards::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -9;
    left: 0;
    background-color: 
    #85bc3c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: 
    #85bc3c;
  }
  #rewards:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: 
    #85bc3c;
  }
  
  #offers {
     display: inline-block;
   position: relative;
    margin-left: 20px;
  }
  #offers:hover {
    color: 
    #85bc3c;
    cursor: pointer;
  }
  #offers::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -9;
    left: 0;
    background-color: 
    #85bc3c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: 
    #85bc3c;
  }
  #offers:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: 
    #85bc3c;
  }
  
  #Freshvegetables {
    display: inline-block;
    position: relative;
  }
  #Freshvegetables:hover {
    color: 
    #85bc3c;
    cursor: pointer;
    
  }
  #Freshvegetables::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -9;
    left: 0;
    background-color: 
    #85bc3c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: 
    #85bc3c;
  }
  #Freshvegetables:hover:after {
    transform: scaleX(0);
    transform-origin: bottom left;
    color: 
    #85bc3c;
  }
  #Freshvegetables1 {
    display: inline-block;
    position: relative;
    margin-right: 20px;
   
  }
  #Freshvegetables1:hover {
    color: 
    #85bc3c;
    cursor: pointer;
   
  }
  #Freshvegetables1::after {
    content: "";
    position: absolute;
    width: 180px;
    transform: scaleX(0);
    height: 2px;
    bottom: -9;
    left: 0;
    background-color: 
    #85bc3c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: 
    #85bc3c;
  }
  #Freshvegetables1:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: 
    #85bc3c;
    
  }
  .dropbtn {
    
    color: #b72b73;
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
   
  }
 
  .dropbtn:hover,
  .dropbtn:focus {
   
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: -0.75%;
    
  }
  
  .dropdown-content {
    margin-top: 2px;
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color:#ffffff;
    min-width: 260px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    line-height: 9px;
  }
  
  .dropdown-content a {
    color: rgb(37, 36, 36);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 260px;
    margin: 5px;
    border-radius: 5px;
  }
  
  .dropdown a:hover {
    background-color: rgb(137, 133, 133);
    border: none;
  }
  
  .show {
    display: block;
  }
  a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: small;
  }
  
  .dropbtn1 {
    background: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
  }
  .dropbtn1:hover {
    color: 
    #85bc3c;
   
  }
  
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    line-height: 5px;
    margin-top: 10%;
    left: 70%;
    border-radius: 5px;
  }
  
  .dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 4px;
  }
  
  .dropdown-content1 a:hover {
    background-color: #ddd;
    margin: 4px;
  }
  
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }
  
  .dropdown1:hover .dropbtn1 {
    background-color: #ffffff;
  }
  
